object-cache.php
advanced-cache.php
index.php
themes/twentytwentytwo
themes/zoologist
themes/blockbase
languages
upgrade
uploads
plugins/akismet
plugins/classic-editor
plugins/crowdsignal-forms
plugins/full-site-editing
plugins/gutenberg
plugins/index.php
plugins/jetpack
plugins/layout-grid
plugins/page-optimize
plugins/polldaddy
mu-plugins/wpcomsh
mu-plugins/wpcomsh-loader.php

